# Linux
*.swp
*.bak
*~

# spec file
BUILD/
BUILDROOT/
RPMS/
SRPMS/
SOURCES/*.gz
SOURCES/*.bz2
SOURCES/*.xz
SOURCES/*.asc
SOURCES/nginx_hpack_push_1.15.3.patch
SOURCES/OpenSSL1.1.1-prioritize-chacha-feature.patch
