[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=${rundir}/nginx.pid
EnvironmentFile=/etc/sysconfig/${pkg_name}
ExecStartPre=${sbindir}/nginx -t
ExecStart=${sbindir}/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
